@tailwind base;
@tailwind components;
@tailwind utilities;


.active{

    color:rgb(202, 153, 79);
    text-decoration: underline;

    
}

.nav:hover{
  color:red;
  text-decoration: underline;
  transition: 0.5s;
  transition-duration: 0.5s;
}

.active:hover{
  color:red
}


/* Tailwind styles for confirm button */
.swal2-confirm.custom-confirm-button {
    @apply bg-[#10B5B5] w-96 text-white py-2 px-4 rounded-lg font-semibold text-lg focus:outline-none;
  }
  
  .swal2-popup.custom-popup {
    @apply p-6 bg-white rounded-lg shadow-lg max-w-lg mx-auto;
  }
  
  .swal2-title.custom-title {
    @apply text-xl font-bold text-center mb-4;
  }
  
  .swal2-icon.custom-icon {
    @apply mb-4;
  }
  .swal2-title.custom-title{
    @apply text-white lg:text-2xl
  }
  .swal2-text.custom-text{
    @apply text-white lg:text-2xl
  }




  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  

  body{
    font-family: "EB Garamond", serif;
  }
 
 /* Light theme styles */
.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark theme styles */
.dark {
  --bg-color: #1a1a1a;
  --text-color: #f1f1f1;
}

/* Apply theme variables */
.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: all 0.3s ease;
}


.text-background {
  background-image: url('../src/assets/modal.jpg'); 
  background-size: cover;
  background-clip: text;
  color: transparent;

}